body {
background: #1b032d;
color: #fff;
font-family: Arial, sans-serif;
margin: 0;
}
header {
text-align: center;
padding: 20px;
}
.card {
max-width: 600px;
margin: 20px auto;
background: #300053;
padding: 20px;
border-radius: 10px;
}
input, select {
width: 100%; padding: 10px; margin: 8px 0;
border-radius: 5px; border: none;
}
.btn {
background: #a020f0; padding: 12px; width: 100%; border: none; border-radius: 6px;
color: white; cursor: pointer;
}
.order { background:#24003d; padding:15px; margin:10px 0; border-radius:10px; }
.btn-small { background:#a020f0; padding:6px 10px; margin:4px; border:none; border-radius:5px; cursor:pointer; }